<style>
    .message {
        background: #175db3;
        color: white;
        padding: 10px;
        width: 50%;
        border-radius: 10px;
    }    
</style>
<div class="container">
    <br><br>
    <div class="column column-50 column-offset-25">
        <h1>Medicine Bot</h1>
    </div>
    <ng-container class="container" *ngFor="let message of messages | async">
        <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot', to: message.sentBy === 'user' }">
            {{ message.content }}
        </div><br>
    </ng-container>
    
    <label for="nameField">Tu mensaje</label>
    
    <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text"><br>
    <button (click)="sendMessage()">Enviar</button>
</div>